body{
    background-color: rgb(143, 39, 143);
    color: black;
}

section{
    background: whitesmoke 
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;  
}
.chamada-texto{
    margin-right: 5%;
    margin-left: 5%;
}img {
    height: 100px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;

}

